#
# tcp window size customizing for sprint.
#
on boot

setprop net.tcp.buffersize.lte     524288,1048576,2097152,262144,524288,1048576
setprop net.tcp.buffersize.default 4096,87380,524288,4096,16384,110208


# AuthenTec VPNClient Interceptor module
   insmod /system/lib/modules/vpnclient.ko

#Sensor Property

on property:ro.yas_softiron.goghspr=true
	write /sys/class/input/input3/ellipsoid_mode 1
	write /sys/class/input/input3/static_matrix "9063 1357 -178 519 10956 95 -1384 880 10100"


# AuthenTec VPNClient Interceptor module
service vpnclientpm /system/bin/vpnclientpm -O /data/data/com.ipsec.vpnclient/vpnclientpm.txt
    group system net_admin net_raw
    disabled
   
service vpncstarter /system/bin/vpncstarter
    class main
    user system
    group system

on property:vpnclientpm.enable=1
    start vpnclientpm
   
on property:vpnclientpm.enable=0
    stop vpnclientpm